<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <form method="post">
    <div style="text-align: center;">
        <p>{{form.old_password.label}}: {{form.old_password}}</p>
        {% if errors %}
            {% for error in form.old_password.errors %}
                <span>{{error}}</span>
            {% endfor %}
        {% endif %}

        <p>{{form.new_password.label}}: {{form.new_password}}</p>
        {% if errors %}
            {% for error in form.new_password.errors %}
                <span>{{error}}</span>
            {% endfor %}
        {% endif %}

        <p>{{form.confirm_new_password.label}}: {{form.confirm_new_password}}</p>
        {% if errors %}
            {% for error in form.confirm_new_password.errors %}
                <span>{{error}}</span>
            {% endfor %}
        {% endif %}
        {{ form.submit() }}
        {{ form.hidden_tag() }}
    </form>
    <form action="/settings">
        <button>Back</button>
    </form>
    </div>
</body>
</html>