<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    
    <div style="text-align: center;">

        <h3>Delete account</h3>
        <form method="post">
        <p>{{form.password.label}}: {{form.password()}}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <br><span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </p>
        {{form.submit()}}
        {{form.hidden_tag()}}
    </form>
    </div>
    <form action="/home_menu" style="text-align: center;">
        <button>Back</button>
    </form>
</body>
</html>