<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <form method="post" style="text-align: center;">
        <h1>Forgot password</h1>
        <p>{{form.username.label}}: <br> {{form.username()}}</p>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        <p>{{form.secret_word.label}}: <br> {{form.secret_word()}}</p>
        {% if form.secret_word.errors %}
            {% for error in form.secret_word.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        <p>{{form.new_password.label}}: {{form.new_password()}}</p>
        {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        <p>{{form.confirm_new_password.label}}: {{form.confirm_new_password()}}</p>
        {% if form.confirm_new_password.errors %}
            {% for error in form.confirm_new_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        {{ form.submit()}}
        {{ form.hidden_tag() }}
    </form>
    <form action="/login" style="text-align: center;">
        <button>Back</button>
    </form>
</body>
</html>