<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
    <div style="text-align: center;">
    <h1 class="home_welcome">Welcome!</h1>
    <form action="register">
        <button class="home_register">Register</button>
    </form>

    <form action="/login">
        <button class="home_login">Login</button>
    </form>
</div>
</body>
</html>