<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
</head>
<body>
    <h1 style="text-align: center;">Terms and rules</h1>
    <p style="text-align: center;">
        Lorem ipsum dolor sit amet consectetur,<br>
        adipisicing elit. Vel, totam inventore <br>
        repudiandae cumque esse qui pariatur la<br>
        borum fugit? Voluptas provident aliquid<br>
        idquo recusandae mollitia tempora veniam<br>
        reiciendis eligendi quisquam! Lorem ipsum <br>
        dolor sit amet consectetur adipisicing <br>
        lit. Voluptatem doloribus magnam repre<br>
        henderit nisi voluptates magni saepe rem<br>
        animi, similique minus. Ullam non fuga <br>
        optio nihil <br>
        assumenda reiciendis porro, ipsam cupiditate.<br>
        Lorem ipsum dolor sit amet consectetur, <br>
        adipisicing elit. Vel, totam inventore <br>
        repudiandae cumque esse qui pariatur la<br>
        borum fugit? Voluptas provident aliquid<br>
        dquo recusandae mollagni saepe rem<br>
        animi, similique minus. Ullam non fuga<br> 
        optio nihil <br>
        assumenda reiciendis porro, ipsam cupiditate.<br>
        Lorem ipsum dolor sit amet consectetur, <br>
        adipisicing elit. Vel, totam inventore <br>
        repudiandae cumque esse qui pariatur la<br>
        borum fugit? Voluptas provident aliquid<br>
        idquo recusandae mollitia tempora veniam<br>
        eiciendis eligendi quisquam! Lorem ipsum <br>
        dolor sit amet consectetur adipisicing <br>
        elit. Voluptatem doloribus magnam repre<br>
        henderit nisi voluptates magni saepe rem<br>
        animi, similique minus. Ullam non fuga <br>
        optio nihil <br>
        assumenda reiciendis porro, ipsam cupiditate.</p>
</body>
</html>